/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


/* define variable*/
:root{
    --black: #131313;
    --gray:#656464;
    --primary: #FF900E;
    --bg-color:rgba(255, 144, 14, 0.1);
    ;
    --primary-font:font-family: 'Work Sans', sans-serif;
}


/* common style */ 
* {
    margin: 0;
    padding: 0;
}
body > header, footer{
    font-family: var(--primary-font);
    background-color: var(--bg-color) ;
}


/* header start */
.container{
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    /* display: flex;
    justify-content: space-between; */
    padding-top: 50px;
}
.nav h1,
 .features__title,
 .enjoy__title,
 .some__fact__title,
 .team__title,
 .sponsor__title,
 .some__fact__box h1,
 .large__btn button h2 {
    font-size: 2.5rem;
    font-weight: 700;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
 nav > ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 25px;
}
a {
    text-decoration: none; 
    color: var(--gray);
    font-size: 1.2rem;

}


/* banner section start */
.banner{
    display: flex;
    flex-direction: column;
}
.text__container{
    margin: 50px auto;
    width:60%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner__title{
    font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: center;
}
.banner__description,
 .features__description,
 .enjoy__description,
 .list__description,
 .some__fact__description,
 .mail, .sponsor__description,
 .large__btn button p,
 .some__fact__box p,
 footer > p {
    font-weight: 400;

line-height: 26px;
text-align: center;
color: var(--gray);
}
.btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: var(--primary);
    width: 180px;
    height: 64px;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    }
.primary__btn{
    margin-left: 36%;
    }
.img__container img{
  width: 100%;
}


/* feature section */
.features{
    display: flex;
    gap: 70px;
    margin-top: 50px;
}
.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.features img{
    width: 300px;
height: 300px;

border-radius: 10px;
}
.secondary{
    color: var(--gray);
}
.primary{
    color: var(--primary);
}
.features__description,
.enjoy__description,
.list__description,
.some__fact__description,
.sponsor__description {
    text-align: start;
}


/* Love & enjoy section */
.love__enjoy{
    display: flex;
    align-items:center ;
    z-index: 0;
    gap: 50px;
    margin: 70px 0;
}
.enjoy__text__container{
    width: 50%;
}
.enjoy__title{
    border-left: 5px solid #FF900E;;
}
.enjoy__img__container > img{
    max-width: 608px;
    height: 782px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: -1;
}
.large__btn{
    margin: -10% 0 0 -20%;
    z-index: 100;
    bottom: 0px;
    position: static;
    left:50%  
}
.large__btn button{
    width: 242px;
height: 140px;
background: #ff9c2b;
border-radius: 8px;
border-style: none;
}
.large__btn button h2 {
    color: white;
}
.text__list{
    margin: 30px 20px;
    
}
.list__title{
    font-weight: 600;
font-size: 20px;
padding-top: 30px;
}


/* some fact section */
.some__fact__box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    align-items: center;
}
.some__fact__box > .box:hover{
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130,147,255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5) ;
}
.some__fact__box img {
padding: 30px 60px 0px 60px;
}
.some__fact__box h1{
    text-align: center;
}

.box{
    width: 180px;
height: 180px;
border: 1px solid #FF900E;
border-radius: 8px;
margin: 80px 30px;
}
.box-one > img{
    padding: 30px 50px 0px 70px;
}


/* team section */
.team__header{
    display: flex;
    justify-content: space-between;
}
.team__description{
    border-bottom: 2px solid blue;
}
.team__info{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.info{
    width: 220px;
    height: 240px;
    border: 1px solid;
    border-radius: 8px;
    margin: 80px 30px;
    border-style: none;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.team__info img {
    height: 120px;
    width: 120px;
    margin: 20px 40px;
}
.name{
    font-size: 1.5rem;
    text-align: center;
}


/*Sponsor section */
.sponsor__title,
.sponsor__description{
    text-align: center;
}
.sponsor__description{
    margin-top: 30px;
}
.sponsor__info{
    margin: 70px 0;
}
.sponsor__img{
    margin-bottom: 150px;
}
.sponsor__img{
    display: flex;
    justify-content: space-between;
}
.sponsor__img > img{
    width: 150px;

filter: grayscale(1);
}


/* footer section */
footer{
    border-radius: 20px;
   
}
footer > p {
  text-align: center;
  padding-bottom: 50px;
   margin-bottom: 100px;
}
.hide{
    display: none;
}


/* responsive part */
@media only screen and (max-width: 576px) {
    .container{
        padding: 10px 0px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    .primary__btn{
        margin-left: 25px;
    }
    .features,
    .team__header,
    .sponsor__img{
        flex-direction: column;
    }
    .images, .team__info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10%;
    }
    .love__enjoy{
        flex-direction: column;
        margin: 0 10px;
        width: 100%;
    }
    .enjoy__text__container{
        width: 100%;
    }
    .large__btn button {
        margin-left: 32%;
    }
    .box{
        margin-left: 25%;
    }
    .some__fact,
     .some__fact__description,
     .team__title,
     .team__description{
        text-align: center;
    }
    .some__fact__box {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .sponsor__img{
        gap: 50px;
        align-items: center;
    }
    .footer> p{
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .some__fact__box,
    .team__info,
    .sponsor__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .sponsor__img{
        gap: 30px;
        justify-items: center;
    }
    .features{
        flex-direction: column;
    }
}

@media only screen and (min-width:993px) and (max-width:1200px){
    .some__fact__box
     {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .features{
        flex-direction: column;
    }
}